.main{
    background-color: rgb(34, 35, 36)
}
.introduction{
    color: lightcyan;
    background:  rgb(30, 29, 31) url(/images/section-bg.jpg) ;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 100%;
     margin: 0px auto;
    padding-top: 140px;
    height: 90vh;
    margin-bottom: 10px;

}


.navbar-nav a:focus{
    background-color: rgb(79, 79, 189);
    border-radius: 10px;
}
#skills i{
   font-size: 160px;
   margin: 0 auto;
}
.basic-info{
    font-size: 1.2rem;
}

.copy{
    text-align: center;
    font-size:1.3rem ;
    color: ghostwhite;
    margin-top: 50px; 
}

