@media Screen and (min-width:769px){
    html{
        scroll-behavior: smooth;
    }
    *{
        margin: 0;
        padding: 0;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    
    .container{
        width: 100%;
    }
    
    header{
        width: 100%;
        background-color: rgb(43, 41, 41);
        height: 7vh;
        display: flex;
        align-items: center;
    
    }
    header > span{
        display: none;
    }

    header > div{
        width:50%;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    
    nav > a{
        text-decoration: none;
        color: white;
        padding:7px;
        border-radius: 7px;
        font-size: 1.2em;
        transition: .3s;
      
    }
    .active{
        background-color: white;
        color: rgb(43, 41, 41);
    }
    
    nav > a:hover{
        background-color: white;
        color: rgb(43, 41, 41);
    }
    
    .intro{
        height:63vh;
        display: flex;
        align-items: flex-end;
        background-image: url(images/faded-bg.png);
        background-size: contain;
        background-position: 90%;
        overflow-x: hidden !important;
        background-repeat: no-repeat;
    
    }
    .intro > div{
        margin: 30px;
    }
    .intro > div>h1{
        font-size: 4.5em;
    }
    .intro > div>h1 >img{
        width: 80px;
        height: 80px;
    }

    .intro > span{
        position: absolute;
        bottom: 0;
        right: 10px;
    
    }
    .intro > span > img{
        width: 50px;
        position: sticky;
        bottom: 0px;
        border: 1px solid #677381;
    }
    .getintouch{
        justify-self: flex-start;
        align-self: flex-end;
        margin: 100px 30px;
        text-decoration: none;
        color: rgb(32, 32, 32);
        position: relative;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 20px;
        padding:10px
        
    }
    
    .getintouch:hover{
        color: white;
        background-color: rgb(43, 41, 41);
        transition: .2s;
    }
    
    .about{
        margin-top: 30vh;
    }
    
    
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px; 
        background-color: #2a272a;
    }
    .hero{
        width: 40%;
        
    }
    .hero > img{
        width: 70%;
        height: 300px;
        border-radius: 100px 10px 100px 10px;
    }
    
    .about-text{
        width: 50%;
        color:#ebebeb;
    }
    
    .about-text >h1{
        font-size: 2em;
        margin: 10px 0;
    }
    
    .about-text > p{
        width: 80%;
        font-size: 18px;
        line-height: 2;
    }
    
    .resume > a{
        display: inline-block;
        padding: 10px;
        color: #ffffff;
        margin: 20px auto;
        border-radius: 10px;
        font-size: 1.4em;
        border: #ebebeb 2px solid;
        text-decoration: none;
    }
    
    .resume > a:hover{
        color: #2a272a;
        background-color: #ebebeb;
        transition: all .2s;
    }
    .skills{
        display: flex;
    }
    .skills-list{
        width:30%;
    }
    .skills-list > h1{
        margin: 30px ;
        font-size: 2em;
        text-align: center;
    }
    
    .skills-list > ul{
        display:  grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
    }
    .skills-list > ul >li{
        text-align: center;
        margin: 20px auto;
    }
    
    .skills-list > ul > li > img{
        width: 100px;
        
       
    }
    
    .skills-list > ul > li > span{
        display: block;
        text-align: center;
    }
    .offer{
        width:70%;
    }
    .offer > h1, .projects > h1, .getintoch > h1{
        text-align: center;
        font-size: 2em;
        margin: 30px;
    }
    
    .offer > ul{
        display: grid;
        grid-template-columns: 50% 50%;
        list-style: none;
        margin: 50px;
        
    }
    
    .offer >ul > li{
        display: grid;
        justify-content: center;
       
    }
    
    .offer > ul > li > img{
        width: 100px;
        margin: 10px auto;
    }
    
    
    .offer > ul > li > span{
        display: block;
    }
    .projects{
        height: 600px;
        background-color: #ebebeb;
        overflow:hidden !important;
    }
    
    .projects > ul{
        list-style: none;
        display: flex;
        justify-content: center;
        
    }
    
    .projects > ul > li{
        margin: 20px 2%;
        width: 300px;
        height: 400px;
        border-radius: 10px;
        color: #2a272a;
        border: #c4c4c4 1px solid;
        /* background-color: #919191; */
        box-shadow: 10px 10px 5px #aaaaaa;        
    }
    
    .projects  > ul >li >img{
        width: 90%;
        height: 250px;
        margin: 10px 5%;
        border-radius: 10px;
    
    }
    
    .projects  > ul > li > p{
        padding: 10px;
    }
    
    .links{
        display: flex;
        justify-content: center;
    }
    
    .links > a{
        display: inline-block;
        text-decoration: none;
        color: white;
        background-color:#677381;
        border-radius: 10px;
        font-size: 12px;
        padding: 10px 16px;
        margin: 10px;
    }
    
    .links > a >img{
        width: 15px;
    }
    
    .links > a:hover{
        background-color:white ;
        color: rgb(43, 58, 58);
        transition: all .2s;
    }
    
    .projects  > ul > li > p{
        text-align: center;
    }
    
    .getintoch > ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .getintoch > ul > li{
        margin: 15px;
    }
    .getintoch > ul > li > a >img{
        width: 30px;
    }
    .getintoch > span{
        position: relative;
        bottom: 0;
        right: 10px;
    
    }
    .getintoch > span > img{
        width: 50px;
        position: sticky;
        bottom: 0px;
        right: 10px;
        border: 1px solid #677381;
    }
    .arrow > span{
        position: absolute;
        /* bottom: 0; */
        right: 10px;
        
    
    }
    .arrow > img{
        width: 30px;
        position: sticky;
        bottom: 10px; 
         left: 10px; 
        padding: 5px;
        border: 1px solid #677381;
        border-radius: 6px;
    }
    footer{
        text-align: center;
        padding: 10px;
        background-color: #2a272a;
        margin-top: 10px;
        font-size: 1.4em;
        color: #ffffff;
        }
    }
@media screen and (min-width:200px) and (max-width:768px) {
    html{
        scroll-behavior: smooth;
    }
    *{
        margin: 0;
        padding: 0;
        font-family: 'Bai Jamjuree', sans-serif;
        
    }
    
    .container{
        width: 100%;
    }
    
    header{
        width: 100%;
        background-color: rgb(43, 41, 41);
        height: 7vh;
        display: flex;
        align-items: center;
   
    }
    
    header > div{
        width:30%;
    }

    header > span{
        position: absolute;
        right: 6%;
    }
    
    nav{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #2a272a;
        color: #f3f3f3;
        position: absolute;
        top: 0;
        left: -100%;
        height: 99vh;
        width: 100%;
    }
    nav > span{
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
        font-size:20px;
        width: 35px;
        text-align: center;
        border: #c4c4c4 2px solid;
    }
    
    nav > a{
        text-decoration: none;
        color: white;
        padding:7px;
        /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        border-radius: 7px;
        margin: 10px 20px;
        font-size: 2em;
        transition: .3s;
      
    }
     /* .active{ 
        background-color: white; 
         color: rgb(43, 41, 41); 
     } 
     */
    nav > a:hover{
        background-color: white;
        color: rgb(43, 41, 41);
    }
    
    .intro{
        height:63vh;
        display: flex;
        align-items: flex-end;
        background-image: url(images/faded-bg.png);
        background-size: contain;
        background-position: 90%;
        background-repeat: no-repeat;
        overflow-x: hidden !important;
    }
    .intro > div{
        margin: 30px;
    }
    .intro > div>h1{
        font-size: 2.5em;
    }
    .intro > div>h1 >img{
        width: 80px;
        height: 80px;
    }
    
    .getintouch{
        justify-self: flex-start;
        align-self: flex-end;
        margin: 100px 30px;
        text-decoration: none;
        color: rgb(32, 32, 32);
        /* position: relative; */
        border: 1px solid black;
        border-radius: 10px;
        font-size: 20px;
        padding:10px
        
    }
    
    .getintouch:hover{
        color: white;
        background-color: rgb(43, 41, 41);
        transition: .2s;
    }
    
    .about{
        margin-top: 30vh;
    }
    
    
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto; 
        background-color: #2a272a;
    }
    .hero{
        margin: 50px 0;
        text-align: center;
        width: 100%;
        
    }
    .hero > img{
        width: 70%;
        margin: 20px 0;
        height: 300px;
        border-radius: 100px 10px 100px 10px;
    }
    
    .about-text{
        width: 100%;
        color:#ebebeb;
    }
    
    .about-text >h1{
        font-size: 2em;
        margin: 10px 10%;
    }
    
    .about-text > p{
        width: 80%;
        line-height: 2;
        margin: 10px auto;
    }
    
    .resume > a{
        display: inline-block;
        padding: 10px;
        color: #ffffff;
        margin: 40px 10%;
        border-radius: 10px;
        font-size: 1.4em;
        border: #ebebeb 2px solid;
        text-decoration: none;
    }
    
    .resume > a:hover{
        color: #2a272a;
        background-color: #ebebeb;
        transition: all .2s;
    }
    .skills{
        display: flex;
        flex-direction: column;
    }
    .skills-list{
        width:100%;
    }
    .skills-list > h1{
        margin: 30px ;
        font-size: 2em;
        text-align: center;
    }
    
    .skills-list > ul{
        display:  grid;
        grid-template-columns: 50% 50%;
        list-style: none;
    }
    .skills-list > ul >li{
        text-align: center;
        margin: 20px auto;
    }
    
    .skills-list > ul > li > img{
        width: 100px;
        
       
    }
    
    .skills-list > ul > li > span{
        display: block;
        text-align: center;
    }
    .offer{
        width:100%;
    }
    .offer > h1, .projects > h1, .getintoch > h1{
        text-align: center;
        font-size: 2em;
        margin: 30px;
    }
    
    .offer > ul{
        display: grid;
        grid-template-columns: 100%;
        list-style: none;
        margin: 50px;
        
    }
    
    .offer >ul > li{
        display: grid;
        justify-content: center;
        margin: 20px 0;
       
    }
    
    .offer > ul > li > img{
        width: 100px;
        margin: 10px auto;
    }
    
    
    .offer > ul > li > span{
        text-align: center;
        display: block;
    }
    .projects{
        height: auto;
        padding: 20px;
        background-color: #ebebeb;
    }
    .heading{
        padding: 30px;
        font-weight: 300;
    }
    .projects > ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .projects > ul > li{
        margin: 20px auto;
        width: 300px;
        height: 400px;
        border-radius: 10px;
        color: #2a272a;
        border: #c4c4c4 1px solid;
        /* background-color: #919191; */
        box-shadow: 10px 10px 5px #aaaaaa;
    }
    
    .projects  > ul >li >img{
        width: 90%;
        height: 220px;
        margin: 10px 5%;
        border-radius: 10px;
    
    }
    
    .projects  > ul > li > p{
        padding: 10px;
    }
    
    .links{
        display: flex;
        justify-content: center;
    }
    
    .links > a{
        display: inline-block;
        text-decoration: none;
        color: white;
        background-color:#677381;
        border-radius: 10px;
        font-size: 16px;
        padding: 10px 16px;
        margin: 60px 10px ;
    }

    
    .links > a:hover{
        background-color:white ;
        color: rgb(43, 58, 58);
        transition: all .2s;
    }
    
    .projects  > ul > li > p{
        text-align: center;
    }
    
    .getintoch > ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .getintoch > ul > li{
        margin: 15px;
    }
    .getintoch > ul > li > a >img{
        width: 30px;
    }
    .arrow > span{
        position: absolute;
        /* bottom: 0; */
        right: 10px;
        
    
    }
    .arrow > img{
        width: 30px;
        position: sticky;
        bottom: 10px; 
         left: 10px; 
        padding: 5px;
        border: 1px solid #677381;
        border-radius: 6px;
    }
    footer{
        text-align: center;
        padding: 10px;
        background-color: #2a272a;
        margin-top: 10px;
        font-size: 1.4em;
        color: #ffffff;
        }
    
}
